*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-family: calibri;
  font-size: 16px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: 'crowden';
  src: local('crowden'), url('./fonts/crowden.ttf') format('truetype');
  font-weight: bolder;
  font-display: block;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
button {
  cursor: pointer;
}

html {
  height: 100%;
  margin: 0;
}

body {
  margin: 0 auto;
  height: 100%;
  min-height: 100vh;
}

.helper {
  white-space: nowrap;
  overflow: hidden;
  background-size: cover;
  cursor: pointer;
  animation: ;
  animation-fill-mode: forwards;
}

/*

@font-face {
    font-family: 'signika';
    src: local('signika'), url('./fonts/signika.ttf') format('truetype');
    font-weight: bolder;
    font-display: block;
  }
@font-face {
  font-family: 'ironwall';
  src: local('ironwall'), url('./fonts/ironwall.otf') format('opentype');
  font-weight: bolder;
  font-display: block;
}  

*/  